<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>296810270201-135p1jrj66ickk2nsr6u5d67c90r6sj9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.296810270201-135p1jrj66ickk2nsr6u5d67c90r6sj9</string>
	<key>API_KEY</key>
	<string>AIzaSyCSZuZP_OlXCZYU81k78z-DcEMmKigJHWU</string>
	<key>GCM_SENDER_ID</key>
	<string>296810270201</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iqdesk.picit</string>
	<key>PROJECT_ID</key>
	<string>picit-6a4fc</string>
	<key>STORAGE_BUCKET</key>
	<string>picit-6a4fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:296810270201:ios:9d23a215a4509fa04c0128</string>
</dict>
</plist>